<h1> Login </h1>

{{#if error}}
    <h2 class="error"> {{error}} </h2>
{{else}}
    <br>
{{/if}}



<div class="form">
    <form method="POST" action="">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" value="login">
    </form>
</div>
